# MacOS-specific files
.DS_Store*
# Vim swap files
*.swp
*.swo

# Python byte code
*.pyc

## vscode
*.vscode*

## Folders
data/
temp/
__pycache__/

## temporary log files
output.txt
git-commit.sh
